
.header-section{
 display: flex;
  justify-content: space-between;
  align-items: center;
  height: 71px;
  width: 1140px;
  border-radius: 8px;
  margin: 0 auto;
  padding: 0 20px;
}

 .header-section img{
    width: 135px;
    height: 82px;
}

.nav-links{
    display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 22px 22px;
  
  
}

.nav-links a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    
}

.hero{
display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  height: 461px;
  margin: 0 auto;
  
  margin-top: 3rem;
  gap: 40px;
  margin-bottom: 3rem;
}

.hero-img{
    height: 355px;
    width: 570p;
    
  display: block;
  align-self: flex-end;
   max-width: 100%;
  /* height: auto; */
  object-fit: cover;
}

.hero-content{
    width: 570px;
    height: 299px;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
   
}

.hero-heading{
    font-size: 4rem;
    font-weight: bold;
     gap: 13px; 
}

.hero-para{
  font-size: 22px;
  color: #000000;
  opacity: 50%;
  line-height: 1.6;
  line-height: 1.2;
}

.main-part{
    text-align: center;
    margin-top: 4rem;
    width: 1140px;
    height: 1186.68px;
    margin: 0 auto;
    
    
}

.main-cart{
    width: 270px;
    height: 484px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-left: 1.3rem;
    
    
}

.main-cart img{
    width: 250px;
    height: 322px;
    margin-bottom: 1.7rem;
    gap: 20px;
    
}




.main-cart button{
   background-color: #f25c05;
  color: white;
  border: none;
  padding: 15px 15px;
  cursor: pointer;
  font-size: 12px;
  width: 100%;
  border-radius: 2px;
  
}

 